@use "../abstract/mixin" as mx;

.play-button {
  position: relative;
  @include mx.flex-center(row);
  justify-content: unset;
  width: 250px;
  height: 98px;
  padding: 24px;
  gap: 20px;
  background-color: #f0ea6e;
  border: none;
  transition: transform 200ms ease-in-out;

  &__controller {
    width: 44px;
    height: 32px;
    transition: transform 300ms ease-in-out;
  }

  &__text {
    font-family: "Red Rose";
    font-size: 40px;
    font-weight: 700;
    color: #303131;
    flex-shrink: 0;
    transition: transform 300ms ease-in-out;
  }

  &__arrow-icon {
    position: absolute;
    right: 24px;
    transition:
      opacity 100ms ease-in-out,
      transform 300ms ease-in-out;

    &--default {
      opacity: 1;
    }

    &--hover {
      opacity: 0;
    }
  }

  &:hover {
    transform: scale(1.03);
    cursor: pointer;

    .play-button__controller {
      transform: rotate(-15deg);
    }

    .play-button__text,
    .play-button__arrow-icon {
      transform: translateX(3px);
    }

    .play-button__arrow-icon--default {
      opacity: 0;
    }

    .play-button__arrow-icon--hover {
      opacity: 1;
    }
  }
}
