@use "../abstract/mixin" as mx;

.settings-main {
  @include mx.flex-center();
  height: 100vh;
}

.settings-content {
  width: 1103px;

  &__header {
    position: relative;
    width: 100%;
    padding-bottom: 62px;

    & > h1 {
      font-family: "Red Rose";
      font-size: 54px;
      font-weight: 700;
    }

    & > img {
      width: 251px;
      position: absolute;
      left: -18px;
      top: 58px;
    }
  }
}

.themes-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 539px;

  & > img {
    position: absolute;
    top: 0;
    right: 0;
    width: 460px;
    height: 412px;
  }
}

.theme {
  @include mx.flex-center();
  gap: 12px;
  align-items: unset;
  border: none;

  &__legend-content {
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 10px;

    & > img {
      width: 32px;
      height: 32px;
    }

    & > span {
      font-size: 24px;
      font-weight: 700;
    }
  }
}

.label {
  display: flex;
  align-items: center;
  width: 300px;
  margin-left: 50px;
  gap: 10px;
  cursor: pointer;

  &__input {
    display: none;
  }

  &__checkbox {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }

  & > span {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    white-space: nowrap;
    flex-shrink: 0;
  }

  &::after {
    content: "";
    width: 41px;
    height: 20px;
    background: url("./assets/small_setting_line.svg") center / contain no-repeat;
    opacity: 0;
  }

  &:hover > span,
  &:has(&__input:checked) > span {
    font-weight: 700;
  }

  &:hover::after,
  &:has(&__input:checked)::after {
    opacity: 1;
  }
}

.selected-board {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 546px;
  padding: 14px 20px;
  left: 518px;
  bottom: 0;
  gap: 9px;

  background-color: #f6f6f6;

  transition: padding-right 300ms ease-in-out;

  &__text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;

    & > span {
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
    }
  }

  &__slash {
    width: 56px;
    height: 8px;
    flex-shrink: 0;
    background-color: #f0ea6e;
    transform: rotate(109.33deg);
  }

  &:has(.board-button:hover:not(:disabled)) {
    padding-right: 40px;
  }
}
