@use "../abstract/mixin" as mx;

.hero-main {
  @include mx.flex-center();
  background-color: #303131;
  height: 100vh
}

.hero-headline {
  @include mx.flex-center();
  position: relative;
  width: 1440px;
  height: 1024px;
  gap: 85px;

  &__first {
    font-family: "Almarai";
    font-size: 48px;
    font-weight: 400;
    color: #ffffff;
  }
  &__second {
    font-family: "Red Rose";
    font-size: 140px;
    font-weight: 700;
    color: #ffffff;
  }
}

.controller-img {
  position: absolute;
  left: 0;
  bottom: 15px;
}
