@use "./components/main";

body {
  margin: 0;
  height: 100vh;
  background-color: #303131;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controller-img {
  position: absolute;
  width: 414.31px;
  height: 301.31px;
  left: -88px;
  bottom: 15px;
}

.hero-headline {
  &__first {
    font-family: "Almarai";
    font-size: 48px;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
  }
  &__second {
    font-family: "Red Rose";
    font-size: 140px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
    padding-bottom: 85px;
  }
}
